
<div class="mb-3"><label>ID :
    <input type="text"  class="form-control" [(ngModel)] ="addtask.id"></label>
  </div>
  <div class="mb-3"><label>Desc :
    <input type="text"  class="form-control" [(ngModel)] ="addtask.Desc"></label>
  </div>
  <div class="mb-3"><label>Priority :
    <input type="email"  class="form-control" [(ngModel)] ="addtask.Priority"></label>
  </div>
  <div class="mb-3"><label>Status :
    <input type="email"  class="form-control" [(ngModel)] ="addtask.status"></label>
  </div>

<div class="mb-3"><button class = "btn btn-primary bi bi-plus" (click) = "AddList()" > Add</button>
  

</div>




  